<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Crypto with Love</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/fav.png" rel="icon">
  <link href="static/img/fav.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.2.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/">Crypto</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="http://www.thijsgeertman.nl/">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Cryptocurrencies</h1>
      <h2>Enter the crypto you want to check</h2>
                  <form action="/coin" method="post">
                   <input type="text" name="crypto">
                <input type="submit" name= "form" value="Submit" />
            </form>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <img src="static/img/bitcoin.png" height="48" width="48">
                  <span> {{bitcoin}} </span>
                  <p>Bitcoin</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <img src="/static/img/ethereum.png" width="48" height="48" border="0">
                  <span> {{ eth }}</span>
                  <p>Ethereum</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-xl-center">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <img class='coin' src="static/img/litecoin.png">
                  <span> {{ lite}} </span>
                  <p>Litecoin</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <img class="coin" src="static/img/dogecoin.png">
                  <span> {{doge}}</span>
                  <p>Dogecoin</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <h1 class="titel1" align="center">Top 7 traded coins right now: </h1> <h5 class="text_time" align="center">{{time}}</h5>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

          {% for thumb in thumbs %}
          <img src={{thumb}} href="google.nl" class="coinplaatjes">
            {% endfor %}
        </div>
        <div class="col-lg-12 align-center">
          {% for name in names %}
          <a href="https://www.google.nl/search?q={{name}} crypto" style="padding-left:50px; align:center;">{{name}}</a>
        {% endfor %}
          </div>
    </div>
        </div>

    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>All coins</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="lijst">
                {% for coin in list_coins%}
              <a href="https://www.google.nl/search?q={{coin}} crypto">{{coin}} |</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Porfolio website</h3>
            <p>This website is made with Bootstrap and Python. the API data is from Coingecko. The purpose of this website is to learn Python web development and to update the portfolio of Thijs Geertman. No profit intended. </p>
          </div>


          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact me</h4>
            <p>
              Eindhoven<br>
              The Netherlands <br>
              <strong>Phone:</strong> +31640012506<br>
              <strong>Email:</strong> thijsgeertman@hotmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.linkedin.com/in/thijs-geertman-a873191b3/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved, Thijs Geertman
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>